<h1 style="text-align: center">PN Cinemas</h1>
<h2 style="text-align: center">Admin Add Movie Theatres & Show Times</h2>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Add Movies">
    <div class="container">
      <form [formGroup]="myForm1" class="center-form">
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Movie Name</mat-label>
            <input matInput placeholder="Movie Name" formControlName="moviename">
          </mat-form-field>
          <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="addmovie()">Save</button>
          </div>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Add Theatres">
    <form [formGroup]="myForm">
      <div class="row">
        <div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Theatres Name</mat-label>
              <input matInput placeholder="Theatres Name" formControlName="username">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Location</mat-label>
              <input matInput placeholder="Location" formControlName="password">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Total No Of Seats</mat-label>
              <input matInput placeholder="Total No Of Seats" type="number" formControlName="totalseats">
            </mat-form-field>
          </div>
        </div>
        <div class="example-button-row">
          <button mat-raised-button color="primary" (click)="addTheatres()">Save</button>
        </div>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Add Show Times">
    <form [formGroup]="myForm5">
      <div class="row">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Movie Name</mat-label>
            <mat-select class="form-control" formControlName="moviename">
              <mat-option value="">select</mat-option>
              <mat-option *ngFor="let item of movieslist" [value]="item.id">{{item.moviename}}</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Theatres Name</mat-label>
            <mat-select class="form-control" formControlName="theatresname">
              <mat-option value="">select</mat-option>
              <mat-option *ngFor="let item of theatreslist" [value]="item.id">{{item.theatresname}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Shows Date & Time</mat-label>
          <input matInput type="datetime-local" formControlName="showDate" placeholder="start date" [min]="curDate">
        </mat-form-field>

        <div class="example-button-row">
          <button mat-raised-button color="primary" (click)="addshowtimes()">Save</button>
        </div>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="View Shows Times">
    <div class="container">
      <table mat-table [dataSource]="deleteshows" class="custom-table">
        <ng-container matColumnDef="moviename">
          <th mat-header-cell *matHeaderCellDef>Movie Name</th>
          <td mat-cell *matCellDef="let showtime">{{ showtime.moviename}}</td>
        </ng-container>

        <ng-container matColumnDef="theatresname">
          <th mat-header-cell *matHeaderCellDef>Theatres</th>
          <td mat-cell *matCellDef="let showtime">{{ showtime.theatresname}}</td>
        </ng-container>

        <ng-container matColumnDef="showtime">
          <th mat-header-cell *matHeaderCellDef>Show Times</th>
          <td mat-cell *matCellDef="let showtime">{{ showtime.showtime}}</td>
        </ng-container>

        <ng-container matColumnDef="totalseats">
          <th mat-header-cell *matHeaderCellDef>Seat Information</th>
          <td mat-cell *matCellDef="let showtime">Total Seats:{{ showtime.totalseats}} <br>Booked Seats:{{ showtime.bookedseats}}<br>Free Seats:{{showtime.seatsfree}}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount Collected</th>
          <td mat-cell *matCellDef="let showtime">{{ showtime.amount }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let showtime">
            <div>
              <button mat-raised-button color="primary" (click)="openPopup(showtime)" value="{{showtime.showtimeid}}">Cancel Show Time</button>
            </div>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-tab>

</mat-tab-group>