.custom-table {
    width: 100%;
  }
  
  .mat-cell {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .center-form {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  